body {
  background: #ffa1c9;
  max-width: 960px;

  margin: 0 auto;
}

a {
  color: #e60965;
}

.App-icon {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  margin: 30px 0;
}
