.Phonetic {
  display: flex;
}

.Phonetic a {
  border: 1px solid #f94892;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin-right: 10px;
}

.Phonetic a:hover {
  background: #e60965;
  color: #fbe5e5;
  transition: all 150ms ease-in-out;
}

.text {
  font-weight: bold;
  font-size: 25px;
  opacity: 0.7;
}
